<div class="dialog-header d-flex justify-content-between">
  <h2 mat-dialog-title>Invoice Details</h2>
  <button
    mat-raised-button
    type="button"
    class="btn btn-danger btn-link btn-sm btn-just-icon"
    (click)="closeDialog()"
  >
    <i class="material-icons">close</i>
  </button>
</div>

<div mat-dialog-content>
  <p><strong>Invoice No:</strong> {{ invoice.invoiceNo }}</p>
  <p><strong>Customer Name:</strong> {{ invoice.customerName }}</p>
  <p>
    <strong>Invoice Date:</strong>
    {{ invoice.invoiceDate | date : "dd/MM/yyyy" }}
  </p>
  <p>
    <strong>Status:</strong>
    {{ invoice.status === "final" ? "Finished" : "Draft" }}
  </p>
  <p *ngIf="invoice.paid === true || invoice.paid === false">
  <strong>Paid:</strong>
  {{ invoice.paid ? "Paid" : "Unpaid" }}
</p>

</div>

<div mat-dialog-actions class="justify-content-between">
  <button mat-button [matMenuTriggerFor]="menu" class="btn btn-dark">
    Options
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngIf="invoice.status === 'final'"
      [disabled]="invoice.status === 'draft'"
      (click)="dialogRef.close('openPDF')"
    >
      Open PDF
    </button>
    <button
      mat-menu-item
      *ngIf="invoice.status === 'final'"
      [disabled]="invoice.status === 'draft'"
      (click)="dialogRef.close('download')"
    >
      Download
    </button>
    <button
  mat-menu-item
  *ngIf="invoice.status === 'final' && (invoice.paid === false || invoice.paid === undefined)"
  (click)="confirmPaidStatus(true)"
>
  Mark as Paid
</button>

<button
  mat-menu-item
  *ngIf="invoice.status === 'final' && (invoice.paid === true || invoice.paid === undefined)"
  (click)="confirmPaidStatus(false)"
>
  Mark as Unpaid
</button>

    <button mat-menu-item (click)="editInvoice()">Edit Invoice</button>
    <button mat-menu-item (click)="sendEmail()">Email Invoice</button>
  </mat-menu>

  <button
    mat-raised-button
    class="btn"
    style="background-color: #c70000"
    (click)="deleteInvoice()"
  >
    Delete
  </button>
</div>
