td {
  background-color: transparent;
  border: none;
}
.card-header {
  display: inline-flex !important;
  justify-content: space-between;
  align-items: center;
}
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: 16px;
  transition: all 2s ease;  /* Transition for the container */
}

.search-container button {
  margin-right: 8px;
}


.search-container input {
  width: 0;  /* Initial width set to 0 */
  opacity: 0;  /* Initial opacity set to 0 to make it invisible */
  transition: width 2s ease, opacity 2s ease;  /* Transition for width and opacity */
  overflow: hidden;
}

.search-container.expanded input {
  width: 300px;  /* Expanded width */
  opacity: 1;  /* Make input visible when expanded */
}
