<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-danger">
            <h4 class="card-title">Invoices</h4>
            <div class="search-container" [class.expanded]="isSearchExpanded">
              <button mat-icon-button (click)="toggleSearch()">
                <mat-icon>search</mat-icon>
              </button>
              <input
                *ngIf="isSearchExpanded"
                matInput
                type="text"
                placeholder="Search Invoice Number or Customer Name"
                [(ngModel)]="searchTerm"
                (input)="onSearch()"
              />
            </div>
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link"
                      [class.active]="currentFilter === 'paid'"
                      (click)="setFilter('paid')"
                    >
                      <i class="material-icons">check_circle</i> Paid
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link"
                      [class.active]="currentFilter === 'unpaid'"
                      (click)="setFilter('unpaid')"
                    >
                      <i class="material-icons">hourglass_empty</i> Unpaid
                      <div class="ripple-container"></div>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link"
                      [class.active]="currentFilter === 'all'"
                      (click)="setFilter('all')"
                    >
                      <i class="material-icons">list</i> All
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link"
                      [class.active]="currentFilter === 'drafts'"
                      (click)="setFilter('drafts')"
                    >
                      <i class="material-icons">drafts</i> Drafts
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <th>Invoice No.</th>
                  <th>Customer Name</th>
                  <th>Date</th>
                  <th>Subtotal</th>
                  <th>Total</th>
                  <th>Paid</th>
                  <th></th>
                </thead>
                <tbody>
                  <!-- Filter invoice based on current filter -->
                  <tr *ngIf="(filteredInvoices$ | async)?.length === 0">
                    <td colspan="5" class="text-center">
                      No invoices to display!
                    </td>
                  </tr>
                  <tr
                    *ngFor="
                      let invoice of filteredInvoices$ | async;
                      let i = index
                    "
                    (click)="openDialog(invoice)"
                  >
                    <td>
                      {{ invoice.invoiceNo }}
                      <span
                        class="text-success"
                        *ngIf="invoice.status === 'draft'"
                        >(draft)</span
                      >
                      <!-- Show (draft) if status is draft -->
                    </td>
                    <td>{{ invoice.customerName }}</td>
                    <td>{{ invoice?.invoiceDate | date : "dd/MM/yyyy" }}</td>
                    <td class="text-primary">
                      €{{ invoice.subTotal | number : "1.2-2" }}
                    </td>
                    <td class="text-primary">€{{ invoice.invoiceTotal }}</td>
                    <td>
                      <!-- ✅ Green icon for explicitly paid -->
                      <mat-icon
                        *ngIf="isPaid(invoice)"
                        class="ml-2"
                        style="vertical-align: middle; color: #5cb85c"
                      >
                        check_circle
                      </mat-icon>

                      <!-- ❌ Red icon only for explicitly unpaid -->
                      <mat-icon
                        *ngIf="isUnpaid(invoice)"
                        class="ml-2"
                        style="vertical-align: middle; color: #c70000"
                      >
                        close
                      </mat-icon>
                    </td>

                    <td>
                      <button
                        mat-raised-button
                        type="button"
                        matTooltip="Open PDF"
                        [matTooltipPosition]="'above'"
                        class="btn btn-info btn-link btn-sm btn-just-icon"
                        (click)="openPDF(invoice, 'open')"
                      >
                        <i class="material-icons">file_open</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
